doctype 5
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title= title
		link(rel='stylesheet', href='/styles/style.css')
		block script
	body
		div
			div#header
				h1 header
			div#content
				block content
			div#footer
				h1 footer
